{% block subjectGrades %}
    <turbo-frame id="grading">
        <a href="{{ path('app_teacher_add_test', {'courseSubjectId' : courseSubjectId}) }}"
           target="_top">
            <button type="button"
                    class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 text-center mr-3 lg:mr-0 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                Add test
            </button>
        </a>


        <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
            {% for test in gradesOnTest %}
                <a class="dark:text-white">{{ test.name }} ({{ test.grades|length }}/{{ studentCount|length }})</a>
                <a href="{{ path('app_teacher_grade_test', {'courseSubjectId' : courseSubjectId, 'testId' : test.id}) }}"
                   target="_top">
                    <button type="button"
                            class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 text-center mr-3 lg:mr-0 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                        Add Grades
                    </button>
                </a>
                <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
                    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                    <tr>
                        <th scope="col" class="px-6 py-3">
                            Name and Surname
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Grade
                        </th>
                        <th scope="col" class="px-6 py-3 text-right">
                            Actions
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for grade in test.grades %}
                        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                            <th scope="row"
                                class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                {{ grade.student.authUser.firstName }} {{ grade.student.authUser.lastName }}
                            </th>
                            <td class="px-6 py-4">
                                {{ grade.grade }}
                            </td>
                            <td class="px-6 py-4 text-right">
                                <a href="{{ path('app_teacher_grade_edit', {'gradeId' : grade.id}) }}"
                                   class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Edit</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% endfor %}
        </div>
    </turbo-frame>
{% endblock %}

