{# {% extends 'base.html.twig' %} #}

{# {% block title %}Hello GradeController!{% endblock %} #}

{# {% block body %} #}
{#    <table class="min-w-full bg-white dark:bg-gray-800 text-gray-700 dark:text-gray-200 shadow-lg rounded-lg"> #}
{#        <thead> #}
{#        <tr class="text-left"> #}
{#            <th class="px-4 py-2">Imię</th> #}
{#            <th class="px-4 py-2">Nazwisko</th> #}
{#            {% for test in tests %} #}
{#                <th class="px-4 py-2">Ocena z testu {{ loop.index }}</th> #}
{#            {% endfor %} #}
{#        </tr> #}
{#        </thead> #}
{#        <tbody> #}
{#        {% for student in students %} #}
{#            #}{#            {{ dump(student) }} #}
{#            <tr class="border-b border-gray-200 dark:border-gray-600"> #}
{#                #}{#                <td class="px-4 py-2">{{ student.number }}</td> #}
{#                <td class="px-4 py-2">{{ student.firstName }}</td> #}
{#                <td class="px-4 py-2">{{ student.lastName }}</td> #}
{#                {% for grade in student.grades %} #}
{#                    #}{#                    {{ dump(grade) }} #}
{#                    <td class="px-4 py-2"> #}
{#                        <label> #}
{#                            <input type="text" value="{{ grade.value }}" #}
{#                                   name="grades[{{ student.lastName }}][{{ loop.index }}]" #}
{#                                   class="px-2 py-1 border rounded-md text-black"/> #}
{#                        </label> #}
{#                    </td> #}
{#                {% endfor %} #}
{#            </tr> #}
{#        {% endfor %} #}
{#        </tbody> #}
{#    </table> #}

{# {% endblock %} #}

{% extends 'base.html.twig' %}
{% block body %}
    <div class="flex h-full flex-row">
        <aside class="z-40 w-64 h-full transition-transform -translate-x-full sm:translate-x-0 "
               aria-label="Sidenav">
            <div class="overflow-y-auto py-5 px-3 h-full bg-white border-r border-gray-200 dark:bg-gray-800 dark:border-gray-700 rounded-r-lg">
                <ul class="space-y-2">
                    {% for key, grade in grades %}
                        <a href="{{ path('app_student_grade', {'subject': key }) }}"
                           class="flex items-center p-2 pl-11 w-full text-base font-normal text-gray-900 rounded-lg transition duration-75 group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700">
                            {{ key }}
                        </a>
                    {% endfor %}
                </ul>
            </div>

        </aside>
        {% block subjectGrades %}
        {% endblock %}
    </div>

{% endblock %}